@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(90deg, #771D32, #E65758);
  --background-short-break: linear-gradient(90deg, #1572A1, #9AD0EC);
  --background-long-break: linear-gradient(90deg, #436850, #ADBC9F);
  --foreground: #d9d9d914;
  --primary-color: #fff;
}

body {
  color: var(--primary-color);
}

@layer utilities {
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] { 
    -moz-appearance:textfield; 
  }

  input:checked + span{
    background-color: #dc4f4f;
  }
  
  input:checked + span::before{
    transform: translateX(26px);
  }

  button.active{
    @apply opacity-100 font-extrabold
  }

  .animation{
    position: absolute;
    height: 4px;
    bottom: 0;
    background-color: #ffffff;
    z-index: 0;
    transition: all .3s ease 0s;
  }

  circle{
    transition: stroke-dashoffset 1s linear;
  }
}
